/* chart page styles */
#select_banner_holder {
	width:300px;
	float:left;
}
#daterange_holder {
	width:500px;
	float:right;
	text-align:right;
}
#datepicker_from, #datepicker_to {
	width:100px;
}
.clear {
	clear:both;
}
.chart_holder {
	min-width:400px;
	height:400px;
	margin: 0 auto;
}
/* chart page styles - end*/