	<h1 id="titleroll"><?php echo $event['Event']['name']; ?></h1>
	<div class="d_wrapper">
	<div id="dice">
		<div class="side-1 visible">
			<div class="dot"></div>
		</div>
		
		<div class="side-2">
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		
		<div class="side-3">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		
		<div class="side-4">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		
		<div class="side-5">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
		
		<div class="side-6">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
	</div>
	</div>

<button id="roll-button">ROLL THE DICE!&nbsp;&nbsp;&nbsp;&nbsp;</button>