<a href="/techno">
	<div class="techno">
	<div class="genretekst">Techno</div>
</div>
</a>
<a href="/house">
<div class="house">
	<div class="genretekst">House</div>
</div>
</a>
<a href="/urban">
<div class="urban">
	<div class="genretekst">Urban</div>
</div>
</a>
<a href="/trance">
<div class="trance">
	<div class="genretekst">Trance</div>
</div>
</a>
<a href="/hardstyle">
<div class="hardstyle">
	<div class="genretekst">Hardstyle</div>
</div>
</a>
<br>