html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li, code,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	padding: 24px 50px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	background-color: #fefefe;
	color: #353535;
	line-height: 24px;
	font-size: 16px;
	max-width: 550px;
}
h1 {
	margin-bottom: 24px;
	font-size: 56px;
	line-height: 72px;
	font-weight: bold;
	color: #151515;
}
h2 {
	margin-bottom: 24px;
	font-size: 22px;
}
h3 {
	margin-bottom: 24px;
	font-size: 18px;
}
p, form {
	padding-bottom: 24px;
}
ul {
	margin-bottom: 24px;
	list-style-type:circle;
	padding-left: 20px
}
ul li:last-child p {
	padding-bottom: 0;
}
li ul {
	margin-bottom: 0px;
}
li ul li a {
	background-color: #f8f5ed;
}
a {
	color: #151515;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background-color: #eee8d5;
}
a:hover {
	background-color: #151515;
	color: #fefefe;
}
::selection {
	background-color: #cb0d2b;
	color: #fefefe;
}
li code {
	margin-top: 24px;
}
code {
	margin-bottom: 24px;
	background-color: #151515;
	color: #fefefe;
	display: block;
	padding: 10px;
	font-family: Courier New, Courier, mono;
}
label {
	display: block;
}