html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
select {
	max-width: 500px;
}
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
table a {border: none;}
table a:hover {border:none;}
table tr td {border: none;}
html, body, #container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #f9f9fa;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
header {
	width: 100%;
	background-color: #CF4647;
	padding: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin-bottom: 1.5em;
}
header span {
	font-weight: bold;
}
header a {
	float: right;
	color: inherit;
}
h1 {
	font-size: 20px;
	padding: 10px 0 10px 0;
	margin: 0px;
	color: #000;
}
.header {
	color: #ddd;
	background-color: #f5f5f5;
	height: 26px;
	padding: 1.5em 1em;
	border-bottom: 1px solid #e5e5e5;
}
.header h1 {
	color: #fff;
	padding: 0px;
	padding-left: 10px;
	color: #f9f9fa;
}
.header form {
	float: right;
	text-align: right;
}
input.user-search {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 300px;
	border: 1px solid #0b0b0d;
	font-size: inherit;
	font-family: inherit;
	background-color: #fefefe;
	float: left;
	margin: 0;
	margin-right: 1em;
	padding: 0.4em !important;
}
.user-search-button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #fff;	
	float: right;
	width: auto;
}
a {
	text-decoration: none;
	color: #000;
}
.input {
	margin-bottom: 30px;
}
form div.submit {
	border: 0;
	margin-top: 10px;
}
label {
	color: #444;
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
label.inline {
	display: inline;
	padding-right: 0px;
}
#bulk-options-container {
	margin-bottom: 0px;
}
#bulk-options label {
	display: inline;
	margin-left: 5px;
}
input, textarea {
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px 0 2px 0;
	width: 100%;
}
textarea {
	border: 1px solid #ccc;
	padding: 0.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	width: auto;
	margin: 5px 6px 0px 2px;
}
input[type=text], input[type=password], input[type=email] {
	padding: 0.4em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	color: #333;
}
input[type=submit] {
	width: auto;
}
label {
	color: #555;
}

form input {
	margin-bottom: 10px;
}
form select {
	margin-bottom: 24px;
}
.datetime select {
	margin-bottom: 0px;
}
div.error-message, div#authMessage {
	clear: both;
	color: #900;
	font-weight: bold;
}
#form-block div.submit {
	margin-top: 20px;
}
#form-block div.submit input {
	float: left;
	margin-right: 5px;
}
.backlink a:hover {
	border-bottom: 1px solid #000;
}
#venue-name-block {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}
#venue-name-block a {
	font-size: 12px;
	display: block;
	font-weight: normal;
	margin-top: 15px;
}
.venue-info {
	font-size: 12px;
	color: #555;
}
#add-venue {
	background-color: #090;
	color: #fff;
}
#add-venue .venue-info {
	color: #efe;
}
.fa-star.promoted {
	color: #CF4647;
}
.fa-star-o {
	color: #999;
}
table#admin {
	border-collapse: collapse;
	font-size: 1em;
}
table#admin thead th {
	background-color: #f5f5f5;
	border: 0px;
	border-bottom: 1px solid #dddde3;
	padding: 5px;
	border-top: 1px solid #fff;
}
table#admin thead th.name {
	text-align: left;
	padding: 1em 0.5em;
}
table#admin, table#admin tr td {
	padding: 5px;
	margin: 0px;
	border: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #f5f5f5;
}
.table-notification {
	background-color: #CF4647;
	padding: 5px;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
table#admin tr.line1 td, #admin tr:nth-child(odd) td {
	background-color: #f9f9fa;
}
table#admin tr.line2 td, #admin tr:nth-child(even) td {
	background-color: #fff;
}
table#admin tr td.name {
	width: auto;
	text-align: left;
}
table#admin tr td.photo-info {
	text-align: left;
	vertical-align: middle;
}
table#admin tr td.photo-info a {
	color: #3498db;
}
table#admin tr td.table-photo {
	width: 80px;
	text-align: left;
}
table#admin tr td.icon {
	width: 40px;
	text-align: center;	
	vertical-align: middle;
}
table#admin tr td.active {
	width: 100px;
	text-align: center;
}
table#admin tr td.published {
	width: 150px;
	text-align: center;
}
table#admin .checkbox-column  {
	width: 16px;
	text-align: center;
}
table#admin .checkbox-column .checkbox, table#admin .checkbox-column  input[type=checkbox] {
	margin: 0px;
	float: none;
}
#admin-menu {
	width: 25%;
	float: left;
}
#admin-content {
	width: 75%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	padding-bottom: 3em;
}
.admin-content-wrap {
	width: 90%;
	margin: auto;
}
.form-wrap {
	max-width: 650px;
}
#admin-menu li {
	list-style: none;
}
#admin-menu ul {
	 margin: 0 2em;
}
#admin-menu a {
	display: inline-block;
	font-size: 1.2em;
	padding: 0.7em;
	color: #333;
	text-decoration: none;
}
#admin-menu a:hover {
	background-color: #fff;
	color: #000;
}
#paginator {
	text-align: center;
	background-color: #f5f5f5;
	padding: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#paginator span {
	margin: 0 0.5em;
	color: #999;
}
#merge-event {
	background-color: #fff;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.photo {
	text-align: center;	
	padding: 5px;
	padding-top: 10px;
	background-color: #fff;
	margin: 10px;
	width: 85px;
	border: 1px solid #efefef;
	float: left;
}
.photo p {
	margin-top: 10px;
}
.comment {
	padding: 10px;
	font-size: 16px;
	max-width: 550px;
	overflow: hidden;
}
.comment-info {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 5px;
}
.form-box {
	margin-bottom: 3em;
}
.form-box-title {
	color: #333;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}
#form-logo-box {
	height: 75px;
	margin-bottom: 1.5em;
}
#form-logo-box img {
	width: 75px;
	max-height: 75px;
	margin-right: 15px;
	float: left;
}
#logo-input {
	clear: none;
	display: block;
	width: 450px;
	float: left;
}
.center {
	color: #afafbd;
	text-align: center;
}
.empty {
	margin-top: 1em;
}
#map {
	width: 650px;
	height: 300px;
	border: 1px solid #ccc;
	margin-bottom: 0px;
}
#map a {
	border: none;
}
.clear {
	clear: both;
}

p.admin-button a i {
	margin-right: 0.5em;
}
p.admin-button a {
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	background-color: #e0e0e0;
	margin-bottom: 1.5em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
p.admin-button a:hover {
	background-color: #2f91b7;
	color: #fff;
}
li {
	list-style: none;
	line-height: 1.6em;	
}
div.auto_complete    {
	position: absolute;
	width: 650px;
	background-color: #fff;
	border: 1px solid #1C0113;
	z-index: 5;
	cursor: pointer;
	display: none;
	margin-top: -10px;
}
.auto-complete li {
	border-top: 1px solid #ccc;
	color: #1C0113;
	font-weight: bold;
	padding: 10px;
}
.auto_complete  li:hover {
	background-color: #ffb;
}
.venue-address {
	font-size: 12px;
	color: #555;
	margin-left: 15px;
}
.user-search-button, .button, .submit input[type=submit], .back-button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100%  Helvetica, Arial, sans-serif;
	font-size: 16px !important;
	padding: 0.5em 1em;
	margin-right: 1em;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: .2em;
	color: #fef4e9;
	border: none;
	background: #3BA4CD;
}
.user-search-button:hover, .button:hover, .submit input[type=submit]:hover {
	text-decoration: none;
	background: #2f91b7;
}
.user-search-button {
	margin: 0;
}
.back-button {
	display: inline-block;
	margin-top: 2px;
	background-color: #BA4A48;
	text-decoration: none;
	border: none !important;
}
.notice {
	margin: 20px;
	color: #333;
}
.notice p {
	margin-bottom: 10px;
}
#bulk-options {
	background-color: #fff;
	padding: 12px 10px;
	border-bottom: 1px solid #dddde3;
	border-top: 1px solid #dddde3;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
}
#bulk-options span {
	margin-right: 20px;
}
#bulk-options .radio-button {
	width: 16px;
	display: inline;
}
#bulk-options-container {
	width: 500px;
	float: left;
}
#delete-logo-block {
	margin-bottom:15px;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}
#repeat-options {
	background-color: #ddd;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 22px;
}
#repeat-options select, .input select {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#repeat-general {
	padding-top: 10px;
	margin-top: 0px;
}
#repeat-daily-form, #repeat-weekly-form, #repeat-monthly-form {
	border-bottom: 1px solid #ccc;
	margin: 0px;
}
#repeat-options .block {
	margin-top: 0px;
	margin-bottom: 10px;
}
#repeat-options .days_block {
	width: 150px;
	float: left;
	clear: none;
}
#repeat-options .days_block div {
	margin: 0;
}
#repeat-options .radio-button {
	width: 16px;
	display: inline;
}
#user-photo-box {
	margin-bottom: 22px;
}
#user-photo-box img {
	width: 75px;
	max-height: 75px;
	margin-right: 15px;
	float: left;
}
#photo-input {
	clear: none;
	display: block;
	width: 450px;
	float: left;
}

/*************************
 ***** MEDIA QUERIES *****
 *************************/

@media (max-width: 990px) {
	body {
		background-image: none;
	}
	.container {
		height: auto;
	}
	#admin-menu {
		width: 100%;
		float: none;
		max-width: 100%;
		background-color: #dbe4f3;
	}
	#admin-menu li, #admin-menu ul {
		width: 100%;
		max-width: 100%;
		float: none;
		display: block;
	}
	#admin-content {
		display: block;
		width: 65%;
		float: right;
	}
	.form-box-title {
		width: 100%;
		text-align: center;
	}
	.form-box, .content-box {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.header {
		width: 100%;
		padding: 5px 0;
		margin: 0;
	}
	input, textarea {
		width: 95%;
	}
	select {
		width: auto;
		max-width: 80%;
	}
	label {
		display: block;
		width: auto;
	}
	p.admin-button a {
		width: auto;
	}
	div.auto_complete    {
		position: absolute;
		width: auto;
	}
}

@media (max-width: 768px) {
	.header h1 {
		display: none;
	}
}