<!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.flot.min.js"></script>
<script type="text/javascript" src="jquery.phpdate.js"></script>

<div id="placeholder" style="width:1000px;height:400px;">&nbsp;</div>
  
<script id="source" type="text/javascript">
$(function () {
    var d2 = [
           [(new Date("2009/07/01")).getTime(),3120]
         , [(new Date("2009/07/08")).getTime(),3220]
         , [(new Date("2009/07/10")).getTime(),3260]
         , [(new Date("2009/07/11")).getTime(),3275]
         , [(new Date("2009/07/12")).getTime(),3325]
         , [(new Date("2009/07/13")).getTime(),3340]
         , [(new Date("2009/07/18")).getTime(),3520]
         , [(new Date("2009/07/19")).getTime(),3580]
         , [(new Date("2009/07/21")).getTime(),3615]
         , [(new Date("2009/07/28")).getTime(),3800]
         , [(new Date("2009/08/02")).getTime(),3895]
         , [(new Date("2009/08/09")).getTime(),4030]
         , [(new Date("2009/08/13")).getTime(),4160]
         , [(new Date("2009/08/16")).getTime(),4225]
         , [(new Date("2009/08/23")).getTime(),4410]
         , [(new Date("2009/08/30")).getTime(),4455]
         , [(new Date("2009/09/04")).getTime(),4645]
         , [(new Date("2009/09/06")).getTime(),4700]
         , [(new Date("2009/09/13")).getTime(),4780]
         , [(new Date("2009/09/20")).getTime(),4920]
         , [(new Date("2009/09/27")).getTime(),4960]
         , [(new Date("2009/10/05")).getTime(),5080]
         , [(new Date("2009/10/07")).getTime(),5090]
         , [(new Date("2009/10/11")).getTime(),5190]
         , [(new Date("2009/10/19")).getTime(),5360]
         , [(new Date("2009/10/22")).getTime(),5420]
         , [(new Date("2009/10/26")).getTime(),5420]
         , [(new Date("2009/11/02")).getTime(),5540]
         , [(new Date("2009/11/10")).getTime(),5575]
         , [(new Date("2009/11/18")).getTime(),5780]
         , [(new Date("2009/11/24")).getTime(),5960]
         , [(new Date("2009/12/01")).getTime(),6010]
         , [(new Date("2009/12/08")).getTime(),6175]
         , [(new Date("2009/12/15")).getTime(),6260]
         , [(new Date("2009/12/22")).getTime(),6450]
         , [(new Date("2009/12/29")).getTime(),6560]
         , [(new Date("2010/01/12")).getTime(),6640]
    ];

    var options = {
      xaxis: {
          mode: "time",
          minTickSize: [1, "day"]
      },
      yaxis: {
         min: 3120
      }
    } 
    
    $.plot($("#placeholder"), [ d2 ], options);

});
</script>