<div class="container text-center margin content">
	<div class="losepage" style="text-align:center;">
		<h1>Bevestiging</h1>
		<p>Weet je zeker dat je naar <?php  echo '<b>';echo $event['Event']['name']; echo "</b> op <b>"; if($this->Time->format('w', $event['Event']['start_date']) == 0){
          echo "zondag";
        }elseif($this->Time->format('w', $event['Event']['start_date']) == 1){
          echo "maandag";
        }if($this->Time->format('w', $event['Event']['start_date']) == 2){
          echo "dinsdag";
        }if($this->Time->format('w', $event['Event']['start_date']) == 3){
          echo "woensdag";
        }if($this->Time->format('w', $event['Event']['start_date']) == 4){
          echo "donderdag";
        }if($this->Time->format('w', $event['Event']['start_date']) == 5){
          echo "vrijdag";
        }if($this->Time->format('w', $event['Event']['start_date']) == 6){
          echo "zaterdag";
        } echo ' ';echo date("d", strtotime($event['Event']['start_date']));echo ' ';echo date("F", strtotime($event['Event']['start_date']));echo ' ';echo date("Y", strtotime($event['Event']['start_date'])); echo '</b> van <b>' . $this->Time->format($this->Timeformat->getTimeFormat(), $event['Event']['start_date']);
      
      echo '</b> -<b>';
      
        echo ' ' . $this->Time->format($this->Timeformat->getTimeFormat(), $event['Event']['end_date']); echo '</b>';?> wilt gaan? </p>
		<br><p style="text-align:left;"><font color="red">Let op! Zodra je niet naar het evenement gaat, maar wel hebt bevestigd dat je gaat kom je op de zwarte lijst te staan en maak je in de toekomst geen kans meer op gastenlijst of kaarten.</font></p>
		<button onclick="window.location='<?php echo Router::url('accept/' . $event['Event']['id'])?>'" class="btn btn-primary btn-yes">Ja</button>
		<button onclick="window.location='<?php echo Router::url('cancel/' . $event['Event']['id']); ?>'" class="btn btn-primary">Nee</button>
		
		
	</div>
</div>