<div class="container text-center margin">
	<div class="content" style="text-align:center;">
		
		
		<div>
		<?php echo $this->Element('dice'); ?>
		</div>
		<div class="winnaar" style=" display: none;">
		<b>	GEFELICITEERD!</b> <br/>	De dobbelsteen is op 2 gevallen en daarom  <br />heb je <b>twee</b> <?php if($event['Event']['win_price_tickets'] == 1){ echo "kaarten";}?><?php if($event['Event']['win_price_guestlist'] == 1){ echo "gastenlijstplekken";}?><?php if($event['Event']['win_price_tickets'] == 0 && $event['Event']['win_price_guestlist'] == 0){echo "kaarten / gastenlijstplekken";}?> gewonnen!<br />
			<a href="/events/getticket/<?php echo $eventId; ?>" class="gewonnen">Bevestig je <?php if($event['Event']['win_price_tickets'] == 1){ echo "kaarten";}?><?php if($event['Event']['win_price_guestlist'] == 1){ echo "gastenlijstplekken";}?><?php if($event['Event']['win_price_tickets'] == 0 && $event['Event']['win_price_guestlist'] == 0){echo "kaarten / gastenlijstplekken";}?>!</a>
		</div>
		<div class="loser" style=" display: none;">
		<b>	Helaas! Je hebt geen <?php if($event['Event']['win_price_tickets'] == 1){ echo "kaarten";}?><?php if($event['Event']['win_price_guestlist'] == 1){ echo "gastenlijstplekken";}?><?php if($event['Event']['win_price_tickets'] == 0 && $event['Event']['win_price_guestlist'] == 0){echo "kaarten / gastenlijstplekken";}?> gewonnen </b> <br/>De dobbelsteen is niet op <b>2</b> gevallen. Probeer het morgen nog eens!
		<?php 
		if($event['Event']['ticket']) {
		 echo "<br><br>
Verzekerd zijn van een kaartje? Koop dan <a target='_blank' href='";
		 echo $event['Event']['ticket'];
		 echo "'><b>hier</b></a> jouw ticket.";
		}
		 ?>
		
					<div id="menu-outer">
  <div class="table">
  	<p><b>Nodig nu jouw vrienden uit om ook mee te doen met de winactie, zodat je eventueel met ze mee kan gaan!</b></p>
 <ul id="venu-share">
<li><a class="btn-social-share share-whatsapp app" href="whatsapp://send?text=Win kaarten voor <?php echo $event['Event']['name']; ?> op http://clubbie.nl/win!"><i class="fa fa-fw fa-whatsapp"></i><span class="share-font">SHARE</span></a></li>
      <li><a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://clubbie.nl/win','Facebook share',
'width=400,height=200,scrollbars=yes,toolbar=yes,location=yes'); return false" class="desktop share-facebook btn-social-share" target="_BLANK" href="https://www.facebook.com/sharer/sharer.php?u=http://clubbie.nl/win"><i class="fa fa-fw fa-facebook-official"></i><span class="share-font">SHARE</span></a></li>
      <li><a onclick="window.open('https://twitter.com/home?status=http://clubbie.nl/win','Twitter share',
'width=400,height=200,scrollbars=yes,toolbar=yes,location=yes'); return false" class="desktop share-twitter btn-social-share" target="_BLANK"  href="https://twitter.com/home?status=http://clubbie.nl/win"><i class="fa fa-fw fa-twitter"></i><span class="share-font">TWEET</span></a></li>
      </ul><!--/.venu-share-->
</div>
</div><br>
			<a href="/<?php echo $slug; ?>" class="verloren">Terug naar event</a>
		</div>

		
		<span id="res" data-val="<?php echo $number; ?>"></span>
		<span id="eventId" data-val="<?php echo $eventId; ?>"></span>
		
	</div>
</div>