<div class="container content">
	<h1>Over Clubbie.nl</h1>
    <p>Clubbie.nl begon als party agenda van Amsterdam. Door de gigantische groei en vraag zijn wij uitgebreid tot party agenda van Nederland! Clubbie zorgt ervoor dat jij altijd op de hoogte bent van de feesten en evenementen op het gebied van uitgaan in Nederland. Daarbij kun je ook via de website kans maken op kaarten voor de beste feesten en festivals in jouw buurt! Zo ben jij altijd, waar je ook bent op de hoogte van de te gekke feesten, festivals en evenementen in ons kleine kikkerlandje: Nederland.</p>
</div>