<div class="container content">
	<div id="contact-form" class="generic-form">
   <form name="contactform" method="post" action="verzenden">
                <div>
                  <span><label for="first_name">Voornaam *</label></span>
                  <span><input name="first_name" type="text" placeholder="Voornaam" class="textbox"></span>
                </div>
                <div>
                  <span><label for="last_name">Achternaam *</label></span>
                  <span><input name="last_name" type="text" placeholder="Achternaam" class="textbox"></span>
                </div>
                <div>
                  <span><label for="email">E-mail *</label></span>
                  <span><input name="email" type="text" placeholder="E-mail" class="textbox"></span>
                </div>
                <div>
                  <span><label for="organisator">Organisatie</label></span>
                  <span><input name="organisator" type="text" placeholder="Organisatie" class="textbox"></span>
                </div>
              </div>
            
                  <span><label for="comments">Bericht *</label></span>
                  <span><textarea name="comments"></textarea></span>
              
                 <br>
                  <span><input id="submit-button" name="submit" type="submit" value="Verstuur"></span>
                  </form>
	</div>
</div>