<div id="DIV_1">
<div class="container text-center margin">
	<img src="https://cj-production-media.s3.amazonaws.com/flyers/113497/original.jpg" style="width:140px;height:140px;" alt="Flyer artwork Secret Affair NYE" title="Flyer Secret Affair NYE">
<h1 class="eventname">Event name</h1>
<h2 class="whenname">Locatie, Stad</h2>
<h3 class="whenname">Maandag, 23:00 - 05:00</h3>
<br>
<h3 class="genrename">Techno, Deep-house, Tech-house</h3>
<div id="menu-outer">
  <div class="table">
 <ul id="venu-share">
      <li><a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<?php echo Router::url( $this->here, true ); ?>','Facebook share',
'width=400,height=200,scrollbars=yes,toolbar=yes,location=yes'); return false" class="share-facebook btn-social-share" target="_BLANK" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo Router::url( $this->here, true ); ?>"><i class="fa fa-fw fa-facebook"></i><span class="share-font">SHARE</span></a></li>
      <li><a onclick="window.open('https://twitter.com/home?status=<?php echo Router::url( $this->here, true ); ?>','Twitter share',
'width=400,height=200,scrollbars=yes,toolbar=yes,location=yes'); return false" class="share-twitter btn-social-share" target="_BLANK"  href="https://twitter.com/home?status=<?php echo Router::url( $this->here, true ); ?>"><i class="fa fa-fw fa-twitter"></i><span class="share-font">SHARE</span></a></li>
      <li><a onclick="window.open('https://plus.google.com/share?url=<?php echo Router::url( $this->here, true ); ?>','Google+ share',
'width=400,height=200,scrollbars=yes,toolbar=yes,location=yes'); return false" class="share-google btn-social-share" target="_BLANK"  href="https://plus.google.com/share?url=<?php echo Router::url( $this->here, true ); ?>"><i class="fa fa-fw fa-google-plus"></i><span class="share-font">SHARE</span></a></li>
    </ul><!--/.venu-share-->
</div>
</div>
</div>
</div>
<style type="text/css">
#menu-outer {
  height: 84px;
}
.btn-social-share{
  text-decoration: none;
padding: 10px;
color: #ffffff;
transition: all .3s ease-in-out;
}
.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#venu-share {
  list-style: none;
  padding-top: 20px;
  }
  ul#venu-share li {
    display: inline;
  }
.margin {
margin-top: 25px;
}
.eventname {
	font-family: AvenirNext-Regular,Roboto,'Helvetica Neue',Helvetica,sans-serif;
line-height: 1.1;
font-weight: 400;
color: white;
font-size: 36px;
margin-bottom: 16px;
}
.whenname {
	font-family: AvenirNext-Regular,Roboto,'Helvetica Neue',Helvetica,sans-serif;
line-height: 1.1;
font-weight: 400;
color: white;
font-size: 16px;
margin-bottom: 8px;
}
.genrename {
	font-family: AvenirNext-Regular,Roboto,'Helvetica Neue',Helvetica,sans-serif;
line-height: 1.1;
font-weight: 400;
color: white;
font-size: 13px;
margin-bottom: 8px;
}
#DIV_1 {
	background-size: cover;
	background-image: url('https://scontent-b-ams.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10857870_488354641304635_7592885276765687789_n.jpg?oh=0b4f17248d38662925bddba5fddf54f1&oe=553A24F9');
    height: 450px;
    text-align: center;
    left: 0px;
    top: 55px;
    width: 100%;
    z-index: -999998;
    align-self: stretch;
    perspective-origin: 638px 50px;
    transform-origin: 638px 50px;
    border: 0px none rgb(140, 128, 110);
    font: normal normal normal normal 12px/normal Arial;
    outline: rgb(140, 128, 110) none 0px;
    overflow: hidden;
}/*#DIV_1*/
.content {
margin-top: -78px !important;
}
</style>


<div class="container content" style="
    padding: 30px;background-color: white;
">
	<div id="center_column">
Voorverkoop:<br>
Deurverkoop:<br>
<br>
Line-up:
</div>

	<div id="right_column">
		Event description
	</div>
    <div class="clear"></div>
Google map
<br>
      <ul class="body-product">
        <li class="hover-effect"><a href="#">
          <div class="element-first">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1910113_430289220444511_8400620991499408690_n.jpg?oh=3a8b1dd9ebdee8b8d1f0dcfe6d87daf0&oe=55365425&__gda__=1430607294_c66cdafcf67651385e7f5f00b8a866bb" alt="list-page-image-1" height="160" width="160">
          </div><!--/.element-first-->
          <div class="big-text">Voyeur <span class="small-text-2">23-12-14</span></div>
          <div class="big-text-2">Heineken Music Hall<br>Amsterdam</div>
        </a></li><!--/.hover-effect-->
        <li class="hover-effect"><a href="#">
          <div class="element-first">
            <img src="https://cj-production-media.s3.amazonaws.com/flyers/114833/original.jpg" alt="list-page-image-1" height="160" width="160">
          </div><!--/.element-first-->
          <div class="big-text">Super Sund.. <span class="small-text-2">26-12-14</span></div>
          <div class="big-text-2">Central Studios<br>Utrecht</div>
        </a></li><!--/.hover-effect-->
        <li class="hover-effect"><a href="#">
          <div class="element-first">
            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/c226.0.264.264/10734080_10152815536504153_5122087516656956053_n.jpg?oh=a4b51d40a60ecdb37fa8b88d4cde0362&amp;oe=55070571&amp;__gda__=1423086113_9fc6161af15be441e08a83b7d2f37fa5" alt="list-page-image-1" height="160" width="160">
          </div><!--/.element-first-->
          <div class="big-text">Awakenin.. <span class="small-text-2">30-12-14</span></div>
          <div class="big-text-2">Westergas Gashouder<br>Amsterdam</div>
        </a></li><!--/.hover-effect-->
        <li class="hover-effect"><a href="#">
          <div class="element-first">
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1910113_430289220444511_8400620991499408690_n.jpg?oh=3a8b1dd9ebdee8b8d1f0dcfe6d87daf0&oe=55365425&__gda__=1430607294_c66cdafcf67651385e7f5f00b8a866bb" alt="list-page-image-1" height="160" width="160">
          </div><!--/.element-first-->
          <div class="big-text">Voyeur <span class="small-text-2">23-12-14</span></div>
          <div class="big-text-2">Heineken Music Hall<br>Amsterdam</div>
        </a></li><!--/.hover-effect-->
        <li class="hover-effect"><a href="#">
          <div class="element-first">
            <img src="https://cj-production-media.s3.amazonaws.com/flyers/114833/original.jpg" alt="list-page-image-1" height="160" width="160">
          </div><!--/.element-first-->
          <div class="big-text">Super Sund.. <span class="small-text-2">26-12-14</span></div>
          <div class="big-text-2">Central Studios<br>Utrecht</div>
        </a></li><!--/.hover-effect-->
      </ul><!--/.body-product-->
	<div class="clear"></div>
</div>