<?php 

	#**********************************************
	# Contact Formulier vanBetty
	#**********************************************

if(isset($_POST['email'])) {
	
	// Pas deze twee regels aan.
	$email_to = "randy@clubbie.nl";
	$email_subject = "Contactformulier Clubbie";
	
	?>

<?php

	function died($error) {
		

    if($error == "tochniet"){
 
	    echo '<div class="container content">
	<div id="contact-form" class="generic-form">Dank je wel voor je bericht! Wij komen zo snel mogelijk bij je terug.';
	echo '<br><br><span><form action="/">
    <input id="submit-button" name="submit" type="submit" value="Terug naar home">
</form></span>';
  }else {
  echo '<div class="container content">
	<div id="contact-form" class="generic-form">Er is een fout opgetreden.';
    echo $error;
echo "<br>";
echo '<span><form action="/pages/contact">
    <input id="submit-button" name="submit" type="submit" value="Terug naar contact">
</form></span>';


  }
  
	}

	// validation expected data exists
	if(!isset($_POST['first_name']) ||
		!isset($_POST['last_name']) ||
		!isset($_POST['email']) ||
		!isset($_POST['organisator']) ||
		!isset($_POST['comments'])) {
		died('Het spijt ons, er is een probleem opgetreden bij het verzenden van het formulier.');		
	}
	
	$first_name = $_POST['first_name']; // verplicht
	$last_name = $_POST['last_name']; // verplicht
	$email_from = $_POST['email']; // verplicht
	$organisator = $_POST['organisator']; // niet verplicht
	$comments = $_POST['comments']; // verplicht
	
	$error_message = "";
	$email_exp = '/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/';
  if(!preg_match($email_exp,$email_from)) {
  	$error_message .= 'Het emailadres is niet geldig.<br />';
  }
  $string_exp = '/^[a-z A-Z]*$/';
  if(strlen($first_name) < 2) { 
  	$error_message .= 'De voornaam is niet geldig.<br />';
  }
  if(strlen($last_name) < 2) {
  	$error_message .= 'De achternaam is niet geldig.<br />';
  }
  if(strlen($comments) < 2) {
  	$error_message .= 'Het bericht is niet geldig.<br />';
  }
  if(strlen($error_message) > 0) {
  	died($error_message);
  }else{
	$email_message = "Gegevens formulier.\n\n";
	
	function clean_string($string) {
	  $bad = array("content-type","bcc:","to:","cc:","href");
	  return str_replace($bad,"",$string);
	}
	$email_message .= ""."\n\n";
	$email_message .= "De gegevens van de afzender zijn:"."\n\n";
	$email_message .= "Voornaam: ".clean_string($first_name)."\n";
	$email_message .= "Achternaam: ".clean_string($last_name)."\n";
	$email_message .= "Email: ".clean_string($email_from)."\n";
	$email_message .= "Organisator: ".clean_string($organisator)."\n";
	$email_message .= "Bericht: ".clean_string($comments)."\n";
	
// create email headers
$headers = 'From: '.$email_from."\r\n".
'Reply-To: '.$email_from."\r\n" .
'X-Mailer: PHP/' . phpversion();
@mail($email_to, $email_subject, $email_message, $headers);  
died("tochniet");
}
?>
</div>


<?php 
}
?>