<?php 
echo $this->Html->script('http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js');
 ?>

<div class="container content" style="
    padding: 30px;text-align:center;background-color: white;
">
   <!-- <div class="login-form">-->
        <h1><?php echo __('Log in with Facebook'); ?></h1>
        <!--<div id="form-block">-->
           <!-- <div id="loginform">-->
<?php
    echo $this->Session->flash('auth');

?> 

<img src="../img/facebookbeer.png"><br>
 <p style="font-size:12px;
    color: rgb(105, 103, 103);
"><img src="../img/lock.png"> Clubbie.nl plaatst <b>nooit</b> zonder toestemming berichten op jouw tijdlijn.</p>
    	<button class="zocial facebook" style="font-size: 15px;" id="facebook"><?php echo __('Log in with Facebook'); ?></button>
    </br></br>
   
            <div class="clear"></div>
</div>

<span data-url="<?php echo $redirect; ?>" id="redir-page"></span>